<!DOCTYPE html>
<html lang="en" xmlns:th="hhtp://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border ="1">
        <caption>Таблица машин</caption>
    <tr>
        <th>Модель</th>
        <th>Серия</th>
        <th>Vin-Номер</th>
    </tr>
        <div th:each ="car : ${carsList}">
            <tr><td><div th:text="${car.getModel}"></div></td><td><div th:text="${car.getSeries}"></div></td><td><div th:text="${car.getVinNumber}"></div></td></tr>
        </div>
    </table>
</body>
</html>